<h1>Assignments</h1>
<ul id="assignmentList align">
<% @assignments.each do |a| %>
    <li>
      <%= a.player.name %> is assigned to the <%= a.team.name %>. <p class="name_desc">Name: <%= a.name %>,<br /> Description: <%= a.description %></p>
    </li>
<% end %>
</ul>
<br>
<li><a href="/home"><button class="btn btn-primary">Home</button></a></li>
