<h1>All assignments for all teams:</h1>
<ul id="assignmentList align">
<% @assignments.each do |a| %>
    <li>
      <%= a.player.name %> is <%= link_to "assigned", team_assignment_path(a.team, a) %> to the <%= a.team.name %>.
    </li>
<% end %>
</ul>
<br>
<li><a href="/home"><button class="btn btn-primary">Home</button></a></li>
