<h1>All assignments for all teams:</h1>
<ul id="assignmentList align">
<% @assignments.each do |a| %>
    <li><%= a.player.name %> is assigned to the <%= a.team.name %>.</li>
<% end %>
</ul>
<br>
<li><a href="/home"><button class="btn btn-primary">Home</button></a></li>
