<h1>Current Player List:</h1>
<ul class="content align">
<% @players.each do |p| %>
    <li><%= "#{p.specialty}, #{p.name}" %> <%= link_to "Profile", player_path(p) %></li>
<% end %>
</ul>
<li><a href="/home"><button class="btn btn-primary">Home</button></a></li>
