/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

#flash_notice {
  width: 300px;
  height: 35px;
  background: rgba(62, 222, 212, 0.85);
  color: rgb(25, 55, 209);
  border-radius: 5px;
  padding: 5px;
  z-index: 999;
  margin-top: 0px;
}

.btn {
  margin-left: -50px;
}

.readjust {
  margin-left: -30px;
}

.realign {
  margin-left: -40px;
}

.realign1 {
  margin-left: 100px;
}

.realign2 a {
  margin-left: -30px;
}

.teams_list {
  margin-left: -30px;
}

.team_form {
  margin-left: 300px;
  border-radius: 5px;
  width: 400px;
  border: 1px solid black;
}

 body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  height: 77px;
}

.core-sprite {
  background-image: image-url("core-sprite-2x.png");
  background-size: 405px 379px;
  background-repeat: no-repeat;
}

.navbar-brand {
  background-position: -176px 0;
  height: 35px;
  width: 176px;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.notification-icon {
  background-position: -353px -298px;
  height: 24px;
  width: 24px;
}



.nav-item:not(:first-child) {
  margin-left: 30px;
}

.container {
  margin-left: 200px;
}

li {
  list-style-type: none;
  color: black;
}

.content {
  font-size: 18px;
}

.welcome {
  background-color: #fff;
}

.welcome-sidebar {
  list-style-type: none;
}

.center {
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.align {
  margin-left: -50px;
  font-size: 18px;
}
